*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  background: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 129px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.navigation .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  line-height: 60px;
}

.navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 18px;
  line-height: 24px;
}

.navigation .nav__item > a {
  text-decoration: none;
}

.navigation .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.navigation .actions .cart {
  border: none;
  background-color: inherit;
}

.navigation .actions .language-selector {
  background-color: inherit;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  font-size: 18px;
}

.hero {
  margin-top: 41px;
}

.hero__tagline {
  text-transform: uppercase;
  font-size: 96px;
  line-height: 127px;
  max-width: 456px;
  color: #01597b;
  margin-bottom: 32px;
}

.hero__tagline .orange {
  color: #dd5d1d;
}

.hero__tagline .green {
  color: #3fa644;
}

.hero__bottom {
  min-height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11rem;
}

.hero__content {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  line-height: 43.2px;
  -ms-flex-preferred-size: 703px;
      flex-basis: 703px;
}

.hero .cta-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 286px;
  gap: 1rem;
}

.hero__cta--primary, .hero__cta--secondary {
  font-size: 24px;
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.hero__cta--primary:hover, .hero__cta--secondary:hover {
  opacity: 0.7;
}

.hero__cta--primary {
  color: white;
  background-color: #00415b;
  border: none;
}

.hero__cta--secondary {
  background-color: transparent;
  border: 2px solid #00415b;
}

.live {
  position: fixed;
  top: 90%;
  left: 95%;
  max-width: 58px;
  max-height: 59px;
  border: none;
  background: transparent;
}

.live .img {
  width: 100%;
  height: 100%;
}

.footer {
  background: #00415b;
}

.footer .credits {
  padding: 20px 0;
  font-size: 2rem;
  text-align: center;
  color: #dd5d1d;
}

.footer .credits a {
  color: #3fa644;
}
/*# sourceMappingURL=main.css.map */