*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightseagreen;
  min-height: 100vh;
  width: 100%;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      display: flex;
      list-style: none;
      gap: 3rem;

      &__item {
        & > a {
          text-decoration: none;
        }
      }
    }
  }

  .header {
    &__tagline {
      text-transform: uppercase;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__content {
      max-width: 600px;
    }

    .cta-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: 100px;
    }

    &__cta--primary,
    &__cta--secondary {
      border: none;
      width: 4rem;
    }
  }
}
